{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block content %}
    <div class="container mt-5">
        <div class="row text-center pt-lg-5">
            <h1>Your Shopping Cart</h1>
        </div>
        {% if cart_items %}
            <div class="row mt-5">
                <div class="col-12 col-lg-8">
<!-- Individual item display -->
                    {% for item in cart_items %}
                        <div class="row my-3 px-3">
                            <div class="col-12 card col-md-4">
                                <a href="{% url 'product_detail' item.item_id %}">
                                    {% if item.product.image %}
                                        <img class="img-fluid" src="{{ item.product.image.url }}" alt="Image of {{ item.product.name }}">
                                    {% else %}
                                        <img class="img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="No image present">
                                    {% endif %}
                                </a>
                            </div>
                            <div class="col-12 card col-md-7 mx-auto">
                                <div class="fs-4">{{ item.product.name }}</div>
                                <div class="mt-2">Selected Size: {% if item.product.has_sizes %}{{item.size}}{% else %}N/A{% endif %}</div>
                                <div class="mt-2">Price: <strong>£ {{ item.product.price }}</strong></div>
                                <div class="mt-2">Quantity: {{ item.quantity }}</div>
                                <div class="mt-2">Subtotal: <strong>£ {{item.product.price | calc_subtotal:item.quantity }}</strong></div>
                                <div class="mt-2">
                                    <form action="{% url 'adjust_cart' item.item_id %}" method="POST" class="form update-form">
                                        {% csrf_token %}
                                        <div class="form-group d-inline-flex">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <button class="decrement-qty btn btn-dark btn-sm" data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                        <i class="fas fa-minus"></i>
                                                    </button>
                                                </div>
                                                <input class="form-control-xs qty_input " type="number" name="quantity" value="{{ item.quantity }}" min="1" max="99" data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                                <div class="input-group-append">
                                                    <button class="increment-qty btn btn-dark btn-sm" data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                        <i class="fas fa-plus"></i>
                                                    </button>
                                                </div>
                                                {% if item.product.has_sizes %}
                                                    <input type="hidden" name="product_size" value="{{ item.size }}">
                                                {% endif %}
                                            </div>
                                        </div>
                                        <button class="update btn btn-dark btn-sm">Update Quantity</button>
                                    </form>
                                    <button class="remove btn btn-dark btn-sm w-100 mt-2" id="remove_{{ item.item_id }}" data-product_size="{{ item.size }}" data-token="{{ csrf_token }}">Remove</button>
                                </div>
                            </div>
                            </div>
                    {% endfor %}
                </div>

<!-- Order summary and checkout link -->
                
                <div class="col-sm-12 col-lg-4 card my-auto">
                    <h2 class="fs-4 pt-3">Order summary: <small>{{ product_count }} item(s)</small></h2>
                    <hr>
                    <div class="pt-3">Cart total: £{{ total | floatformat:2 }}</div>
                    <div class="pt-3">Delivery: £{{ delivery | floatformat:2 }}</div>
                    <div class="pt-3">Total to pay: <strong>£{{ grand_total | floatformat:2 }}</strong></div>
                    <div class="bgclr-info mt-3">
                    {% if free_delivery_delta > 0 %}
                        Add £{{ free_delivery_delta }} worth of products to your cart to enjoy FREE DELIVERY!
                    {% else %}
                        You qualify for FREE DELIVERY!
                    {% endif %}
                    </div>
                    <div class="pt-3">
                        <a href="{% url 'checkout' %}">
                            <button class="btn btn-dark btn-lg w-100"><small>Secure Checkout with</small><img src="https://cdn.brandfolder.io/KGT2DTA4/at/8vbr8k4mr5xjwk4hxq4t9vs/Stripe_wordmark_-_blurple.svg" alt="" height="30px"></button>
                        </a>
                    </div>
                    <div class="text-center">
                        <img src="{{ MEDIA_URL }}cards/visa.svg" alt="visa card" width="40px" height="40px">
                        <img src="{{ MEDIA_URL }}cards/amex.svg" alt="amex card" width="40px" height="40px">
                        <img src="{{ MEDIA_URL }}cards/mastercard.svg" alt="mastercard card" width="40px" height="40px">
                        <img src="{{ MEDIA_URL }}cards/maestro.svg" alt="maestro card" width="40px" height="40px">
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-12 text-center">
                <h4>There are no products in you cart!</h4>
                <h5>Start shopping:</h5>
                <a href="{% url 'products' %}" class="btn btn-dark">View products</a>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block postloadjs %}
    {{block.super}}
    <script src="{% static 'cart/js/form_control.js' %}" type="text/javascript"></script>
{% endblock %}