{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container-fluid header-container">
        <div class="row">
            <div class="col-8 col-md-6 col-lg-3 offset-lg-3 my-5 py-5">
                <img class="img-fluid" src="{{ MEDIA_URL }}img/logo_white.png" alt="Main-Logo">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<!-- Slider with top rated products -->
<!-- Credit to Paul Phillips https://codepen.io/pau1phi11ips/pen/rKyGzq -->
    <section>
        <div class="container-fluid">
            <div id="infinite-carousel" class="text-center my-3 pt-3 disable-user-select">
                <span class="p-1 p-md-3 control-left mx-2 mx-md-5"><i class="fa-solid fa-2x fa-circle-chevron-left"></i></span>
                <span class="fs-3 pt-3"><strong>Hottest</strong> by rating</span>
                <span class="p-1 p-md-3 control-right mx-2 mx-md-5"><i class="fa-solid fa-2x fa-circle-chevron-right"></i></span>
                <div class="row w-100 flex-nowrap my-3 ps-4 py-4" style="overflow: hidden;">
                    {% for top_product in top_products %}
                        <div class="col-12 col-md-6 col-lg-4 col-xxl-3 text-center">
                            <div class="card h-100">
                                <span class="card-title my-3 fs-5 px-3">{{ top_product.name }}</span>
                                <div class="image-container">
                                    {% if top_product.image %}
                                        <a href="{% url 'product_detail' top_product.id %}">
                                            <img src="{{ top_product.image.url }}" alt="{{ top_product.name }}" class="card-img-top">
                                        </a>
                                    {% else %}
                                        <a href="{% url 'product_detail' top_product.id %}">
                                            <img class="card-img-top" src="{{ MEDIA_URL }}noimage.png" alt="{{ top_product.name }}">
                                        </a>
                                    {% endif %}
                                </div>
                                <div class="m-card-body">
                                    <div class="m-card-text position-absolute bottom-0 end-0 pe-3">
                                        <p class="mb-0 text-end">Price</p>
                                        <p>£ {{ top_product.price }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'home/js/slider.js' %}"></script>
{% endblock %}