{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container-fluid header-container">
        <div class="row">
            <div class="col-8 col-md-6 col-lg-3 offset-lg-3 my-5 py-5">
                <img class="img-fluid" src="{{ MEDIA_URL }}/img/logo_white.png" alt="Logo">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<!-- Slider with top rated products -->
<!-- Credit to Paul Phillips https://codepen.io/pau1phi11ips/pen/rKyGzq -->
    <section>
        <div class="container-fluid">
            <h1 class="text-center my-3">Most Popular</h1>
            <div id="infinite_carousel" class="d-flex align-items-center my-3">
                <div class="p-3 control"><i class="fa fa-2x text-muted fa-chevron-left"></i></div>
                <div class="row w-100 flex-nowrap" style="overflow: hidden;">
                    {% for top_product in top_products %}
                        <div class="col-12 col-md-6 col-lg-3 text-center">
                            <div class="card h-100 text-center">
                                <div class="image-container">
                                    {% if top_product.image %}
                                        <a href="{% url 'product_detail' top_product.id %}">
                                            <img src="{{ top_product.image.url }}" alt="{{ top_product.name }}" class="card-img-top">
                                        </a>
                                    {% else %}
                                        <a href="{% url 'product_detail' top_product.id %}">
                                            <img class="card-img-top" src="{{ MEDIA_URL }}noimage.png" alt="{{ top_product.name }}">
                                        </a>
                                    {% endif %}
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">{{ top_product.name }}</h5>
                                    <p class="card-text">Price {{ top_product.price }}</p>
                                    {% if top_product.new_rating > 0 %}
                                        <p>{{ top_product.new_rating }}</p>
                                    {% else %}
                                        <p>{{ top_product.rating }} out of 5</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="p-3 control"><i class="fa fa-2x text-muted fa-chevron-right"></i></div>
            </div>
        </div>
    </section>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'home/js/slider.js' %}" type="text/javascript"></script>
{% endblock %}