<!-- Floating action button. Credit: https://freefrontend.com/css-floating-action-buttons/ -->
<div class="floating-container">
    {% if request.user.is_superuser %}
    <div class="floating-button">
    </div>
    <div class="element-container">
        <a class="btn-top" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top"> 
            <span class="float-element">
                <i class="fa-solid fa-square-caret-up"></i>
            </span>
        </a>
            <span class="float-element">
                <i class="fa-solid fa-square-plus"></i>
            </span>
            <span class="float-element">
                <i class="fa-solid fa-screwdriver-wrench"></i>
            </span>
    </div>
    {% endif %}
</div>