<!-- Size selector and guide image for Helmets -->
{% if product.category.name in 'full_face,flip_front,motocross_helmets' %}
<div>
    <select name="product_size" id="product_size" class="form-select">
        <option value="XS">XS</option>
        <option value="S">S</option>
        <option value="M">M</option>
        <option value="L">L</option>
        <option value="XL">XL</option>
    </select>
</div>
<!-- Button trigger modal -->
<div>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#size-modal">Size Guide</button>
</div>
<!-- Modal -->
<div class="modal fade" id="size-modal" tabindex="-1" aria-labelledby="size-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="size-modal-label">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="{{ MEDIA_URL }}helmets.jpg" alt="Size guide image" class="img-fluid">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Size selector and guide image for Jackets -->
{% elif product.category.name in 'jackets' %}
<div>
    <select name="product_size" id="product_size" class="form-select">
        <option value="38">38</option>
        <option value="40">40</option>
        <option value="42">42</option>
        <option value="44">44</option>
        <option value="46">46</option>
        <option value="48">48</option>
        <option value="50">50</option>
        <option value="52">52</option>
    </select>
</div>
<!-- Button trigger modal -->
<div>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#size-modal">Size Guide</button>
</div>
<!-- Modal -->
<div class="modal fade" id="size-modal" tabindex="-1" aria-labelledby="size-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="size-modal-label">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="{{ MEDIA_URL }}jackets.jpg" alt="Size guide image" class="img-fluid">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Size selector and guide image for trousers -->
{% elif product.category.name in 'trousers' %}
<div>
    <select name="product_size" id="product_size" class="form-select">
        <option value="32">32</option>
        <option value="34">34</option>
        <option value="36">36</option>
        <option value="38">38</option>
        <option value="40">40</option>
        <option value="42">42</option>
    </select>
</div>
<!-- Button trigger modal -->
<div>
    <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#size-modal">Size Guide</button>
</div>
<!-- Modal -->
<div class="modal fade" id="size-modal" tabindex="-1" aria-labelledby="size-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="size-modal-label">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="{{ MEDIA_URL }}trousers.jpg" alt="Size guide image" class="img-fluid">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Size selector and guide image for trousers -->
{% elif product.category.name in 'suits' %}
<div>
    <select name="product_size" id="product_size" class="form-select">
        <option value="38">38</option>
        <option value="40">40</option>
        <option value="42">42</option>
        <option value="46">46</option>
        <option value="48">48</option>
        <option value="50">50</option>
    </select>
</div>

<!-- Button trigger modal -->
<div>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#size-modal">Size Guide</button>
</div>
<!-- Modal -->
<div class="modal fade" id="size-modal" tabindex="-1" aria-labelledby="size-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="size-modal-label">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="{{ MEDIA_URL }}suits.jpg" alt="Size guide image" class="img-fluid">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Size selector and guide image for armour -->
{% elif product.category.name in 'armour' %}
<div>
    <select name="product_size" id="product_size" class="form-select">
        <option value="L">L</option>
        <option value="M">M</option>
        <option value="S">S</option>
    </select>
</div>

<!-- Size selector and guide image for trousers -->
{% elif product.category.name in 'urban, touring, motocross_boots' %}
<div>
    <select name="product_size" id="product_size" class="form-select">
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
    </select>
</div>
<!-- Button trigger modal -->
<div>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#size-modal">Size Guide</button>
</div>
<!-- Modal -->
<div class="modal fade" id="size-modal" tabindex="-1" aria-labelledby="size-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="size-modal-label">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="{{ MEDIA_URL }}boots.jpg" alt="Size guide image" class="img-fluid">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Size selector and guide image for gloves -->
{% elif product.category.name in 'summer, winter, motocross_gloves' %}
<div>
    <select name="product_size" id="product_size" class="form-select">
        <option value="XS">XS</option>
        <option value="S">S</option>
        <option value="M">M</option>
        <option value="L">L</option>
        <option value="XL">XL</option>
    </select>
</div>
<!-- Button trigger modal -->
<div>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#size-modal">Size Guide</button>
</div>
<!-- Modal -->
<div class="modal fade" id="size-modal" tabindex="-1" aria-labelledby="size-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="size-modal-label">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="{{ MEDIA_URL }}gloves.jpg" alt="Size guide image" class="img-fluid">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endif %}