{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block content %}
    <div class="container">
        <div class="row text-center">
            <h4>{{ wishlist }}</h4>
        </div>
        {% if wishlist %}
            <div class="row">
                <div class="col-sm-12 col-lg-8">
<!-- Individual item display -->
                    {% for item in wishlist %}
                        <div class="row">
                            <div class="col col-md-4 bg-danger">
                                {% if item.product.image %}
                                    <img class="img-fluid" src="{{ item.product.image.url }}" alt="Image of {{ item.product.name }}">
                                {% else %}
                                    <img class="img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="No image present">
                                {% endif %}
                            </div>
                            <div class="col-sm-8 col-md-8 bg-info">
                                <div>{{ item.product.name }}</div>
                                <div>£ {{ item.product.price }}</div>
                                <div class="col">
                                    <button class="remove btn btn-dark btn-sm" id="remove_{{ item.item_id }}" data-product_size="{{ item.size }}" data-token="{{ csrf_token }}">Remove</button>
                                </div>
                            </div>
                            </div>
                    {% endfor %}
                </div>

        {% else %}
            <div class="col-12 text-center">
                <h4>There are no products in you wishlist</h4>
                <a href="{% url 'products' %}" class="btn btn-dark">View products</a>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block postloadjs %}
{% endblock %}