@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* ---------------------- Main project elements ---------------------- */

html {
    height: 100%;
}

body {
    height: 100vh;
    font-family: 'Lexend', sans-serif !important;
}

footer {
    color: #E0E0E0;
    position: sticky;
    top: 100vh;
}

footer i {
    color: #FFA726;
}

 footer i:hover, 
 .nav-link:hover,
 .control-left:hover,
 .control-right:hover {
     color: #C62828 !important;
     cursor: pointer;
 }

#top-nav {
    height: 96px;
}

#main-nav button:hover,
#main-nav a:hover {
    color: #C62828 !important;
}

.nav-link {
    color: #212121 !important;
}

.custom-user {
    height: 50px;
    width: 50px;
    background-image: url("/media/img/user.png");
    background-position: center center;
    background-size: cover;
}

.custom-user:hover {
    background-image: url("/media/img/user_hover.png");
}

.custom-cart {
    height: 50px;
    width: 50px;
    background-image: url("/media/img/cart.png");
    background-position: center center;
    background-size: cover;
}

.custom-cart:hover {
    background-image: url("/media/img/cart_hover.png");
}

.top-spacer {
    padding-top: 96px;
}

.logo {
    max-height: 70px;
}

strong,
.error {
    color: #C62828;
}

.header-container {
    height: 30vh;
    background-image: url("/media/img/pexels-djordje-petrovic-1416169.jpg");
    background-position: center center;
    background-size: cover;
}

.prod-header {
    background: linear-gradient(45deg, transparent 0%, transparent 50%, #212121 100%);
}

.disable-user-select{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-dark:hover {
    background-color: #C62828 !important;
}

.btn:focus {
    box-shadow: 0 0 0 0.25rem #c628286c !important;
}

/* ---------------------- Card styles ---------------------- */

.card {
    border: 0;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.m-card-body {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 40%;
    width: 50%;
    background: linear-gradient(135deg, transparent 0%, transparent 50%, #212121 70%, #212121 100%);
}

.m-card-text {
    color: #FFA726;
}

/* ---------------------- Bootstrap 5.1 toasts ---------------------- */

.message-container {
    position: fixed;
    top: 100px;
    right: 20px;
    z-index: 999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

.cart-toast-overview {
    max-height: 30vh;
    overflow-x: hidden;
    overflow-y: auto;
}

/* ---------------------- Main color classes ---------------------- */

.bgclr-dark {
    background-color: #212121;
}

.bgclr-warning {
    background-color: #C62828;
}

.bgclr-neutral {
    background-color: #E0E0E0;
}

.bgclr-info {
    background-color: #FFA726;
}

/* Convenience classes - colors copied from Bootstrap */

.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.cat-image img {
    border: solid 1px #212121;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

.cat-image img:hover {
    border: solid 1px #C62828;
    transform: scale(1.03);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

/* ---------------------- Product Form ---------------------- */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

.qty_input {
    max-width: 50px;
}

/* ---------------------- Floating Action Button ---------------------- */
/* Credit https://freefrontend.com/css-floating-action-buttons/ */

@-webkit-keyframes come-in {
    0% {
        -webkit-transform: translatey(100px);
        transform: translatey(100px);
        opacity: 0;
    }

    30% {
        -webkit-transform: translateX(-50px) scale(0.4);
        transform: translateX(-50px) scale(0.4);
    }

    70% {
        -webkit-transform: translateX(0px) scale(1.2);
        transform: translateX(0px) scale(1.2);
    }

    100% {
        -webkit-transform: translatey(0px) scale(1);
        transform: translatey(0px) scale(1);
        opacity: 1;
    }
}

@keyframes come-in {
    0% {
        -webkit-transform: translatey(100px);
        transform: translatey(100px);
        opacity: 0;
    }

    30% {
        -webkit-transform: translateX(-50px) scale(0.4);
        transform: translateX(-50px) scale(0.4);
    }

    70% {
        -webkit-transform: translateX(0px) scale(1.2);
        transform: translateX(0px) scale(1.2);
    }

    100% {
        -webkit-transform: translatey(0px) scale(1);
        transform: translatey(0px) scale(1);
        opacity: 1;
    }
}

* {
    margin: 0;
    padding: 0;
}

.floating-container {
    position: fixed;
    width: 100px;
    height: 100px;
    bottom: 12%;
    right: 0;
}

.floating-container:hover {
    height: 15rem;
}

.floating-container:hover .floating-button {
    -webkit-transform: translatey(5px);
    transform: translatey(5px);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background: #C62828;
    background-image: url("/media/img/logo_v2_white.png");
    background-position: center center;
    background-size: cover;

}

.floating-container:hover .element-container .float-element:nth-child(1) {
    -webkit-animation: come-in 0.4s forwards 0.2s;
    animation: come-in 0.4s forwards 0.2s;
}

.floating-container:hover .element-container .float-element:nth-child(2) {
    -webkit-animation: come-in 0.4s forwards 0.4s;
    animation: come-in 0.4s forwards 0.4s;
}

.floating-container:hover .element-container .float-element:nth-child(3) {
    -webkit-animation: come-in 0.4s forwards 0.6s;
    animation: come-in 0.4s forwards 0.6s;
}

.floating-container .floating-button {
    position: absolute;
    width: 4rem;
    height: 4rem;
    background: #FFA726;
    bottom: 0;
    border-radius: 0.25rem;
    left: 0;
    right: 0;
    margin: auto;
    line-height: 2.5rem;
    text-align: center;
    font-size: 2rem;
    z-index: 100;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background-image: url("/media/img/logo_v2_black.png");
    background-position: center center;
    background-size: cover;
}

.floating-button-btt {
    position: sticky;
    bottom: 5%;
    left: 90%;
    height: 2.5rem;
    width: 2.5rem;
    background: #C62828;
    cursor: pointer;
    margin: auto;
    line-height: 2.5rem;
    text-align: center;
    font-size: 2rem;
    z-index: 100;
    border-radius: 0.25rem;
}

.floating-button-btt a{
    color: #E0E0E0;
}

.floating-container .float-element {
    position: relative;
    display: block;
    border-radius: 0.25rem;
    width: 2.5rem;
    height: 2.5rem;
    margin: 15px auto;
    color: #212121;
    font-weight: 500;
    text-align: center;
    line-height: 2.5rem;
    z-index: 0;
    opacity: 0;
}

.floating-container .float-element {
    vertical-align: middle;
    font-size: 2rem;
}

.floating-container .float-element:nth-child(1) {
    background: #C62828;
    cursor: pointer;
    color: #E0E0E0;
}

.floating-container .float-element:nth-child(2) {
    background: #C62828;
    cursor: pointer;
    color: #E0E0E0;
}

.floating-container .float-element:nth-child(3) {
    background: #C62828;
    cursor: pointer;
    color: #E0E0E0;
}

/* ---------------------- Media Queries ---------------------- */

@media screen and (max-width: 992px) {
    .navbar {
        background-color: #E0E0E0;
    }
    .floating-container {
        position: fixed;
        width: 100px;
        height: 100px;
        bottom: 20%;
        right: 0;
    }
}

@media screen and (max-width: 768px) {
    .floating-container {
        position: fixed;
        width: 100px;
        height: 100px;
        bottom: 30%;
        right: 0;
    }
}

/* On very small screens to avoid the links from wrapping */

@media screen and (max-width: 450px) {
    .nav-link {
        padding: .25rem;
    }

    #mobile-search i {
        font-size: 1.5em !important;
    }

    .custom-cart,
    .custom-user {
        height: 30px;
        width: 30px;
    }

    .logo {
        height: 50px;
        width: 50px;
    }

    .control-right i,
    .control-left i {
        font-size: 1.5em;
    }
}