<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="dropdown">
            <button class="btn btn-light dropdown-toggle w-100" type="button" id="helmets" data-bs-toggle="dropdown" aria-expanded="false">
            Helmets
            </button>
            <ul class="dropdown-menu" aria-labelledby="helmets">
                <li><a class="dropdown-item text-center" href="#">Full Face</a></li>
                <li><a class="dropdown-item text-center" href="#">Flip Front</a></li>
                <li><a class="dropdown-item text-center" href="#">Motocross</a></li>
                <li><a class="dropdown-item text-center" href="#">All Helmets</a></li>
            </ul>
        </li>

        <li class="dropdown">
            <button class="btn btn-light dropdown-toggle w-100" type="button" id="clothing" data-bs-toggle="dropdown" aria-expanded="false">
            Clothing
            </button>
            <ul class="dropdown-menu" aria-labelledby="clothing">
                <li><a class="dropdown-item text-center" href="#">Jackets</a></li>
                <li><a class="dropdown-item text-center" href="#">Trousers</a></li>
                <li><a class="dropdown-item text-center" href="#">Suits</a></li>
                <li><a class="dropdown-item text-center" href="#">Armour</a></li>
                <li><a class="dropdown-item text-center" href="#">All Clothing</a></li>
            </ul>
        </li>

        <li class="dropdown">
            <button class="btn btn-light dropdown-toggle w-100" type="button" id="boots" data-bs-toggle="dropdown" aria-expanded="false">
            Boots
            </button>
            <ul class="dropdown-menu" aria-labelledby="boots">
                <li><a class="dropdown-item text-center" href="#">Urban</a></li>
                <li><a class="dropdown-item text-center" href="#">Touring</a></li>
                <li><a class="dropdown-item text-center" href="#">Motocross</a></li>
                <li><a class="dropdown-item text-center" href="#">All Boots</a></li>
            </ul>
        </li>

        <li class="dropdown">
            <button class="btn btn-light dropdown-toggle w-100" type="button" id="gloves" data-bs-toggle="dropdown" aria-expanded="false">
            Gloves
            </button>
            <ul class="dropdown-menu" aria-labelledby="gloves">
                <li><a class="dropdown-item text-center" href="#">Summer</a></li>
                <li><a class="dropdown-item text-center" href="#">Winter</a></li>
                <li><a class="dropdown-item text-center" href="#">Motocross</a></li>
                <li><a class="dropdown-item text-center" href="#">All Gloves</a></li>
            </ul>
        </li>

        <li class="dropdown">
            <button class="btn btn-light dropdown-toggle w-100" type="button" id="accessories" data-bs-toggle="dropdown" aria-expanded="false">
            Accessories
            </button>
            <ul class="dropdown-menu" aria-labelledby="Accessories">
                <li><a class="dropdown-item text-center" href="#">Luggage</a></li>
                <li><a class="dropdown-item text-center" href="#">Tools</a></li>
                <li><a class="dropdown-item text-center" href="#">All Accessories</a></li>
            </ul>
        </li>
        <li>
            <button class="btn btn-light w-100" type="button" id="sale">
                Sale
            </button>
        </li>


        <li class="dropdown">
            <button class="btn btn-light dropdown-toggle w-100" type="button" id="all-products" data-bs-toggle="dropdown" aria-expanded="false">
            All Products
            </button>
            <ul class="dropdown-menu" aria-labelledby="all-">
                <li><a class="dropdown-item text-center" href="#">By Price</a></li>
                <li><a class="dropdown-item text-center" href="#">By Rating</a></li>
                <li><a class="dropdown-item text-center" href="#">By Category</a></li>
                <li><a class="dropdown-item text-center" href="#">All Products</a></li>
            </ul>
        </li>
    </ul>
</div>