<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="dropdown">
            <button class="btn btn-light dropdown-toggle w-100" type="button" id="helmets" data-bs-toggle="dropdown" aria-expanded="false">
            Helmets
            </button>
            <ul class="dropdown-menu" aria-labelledby="helmets">
                <li><a class="dropdown-item " href="{% url 'products' %}?category=full_face">Full Face</a></li>
                <li><a class="dropdown-item " href="{% url 'products' %}?category=flip_front">Flip Front</a></li>
                <li><a class="dropdown-item " href="{% url 'products' %}?category=motocross_helmets">Motocross</a></li>
                <li><a class="dropdown-item " href="{% url 'products' %}?category=full_face,flip_front,motocross_helmets">All Helmets</a></li>
            </ul>
        </li>

        <li class="dropdown">
            <button class="btn btn-light dropdown-toggle w-100" type="button" id="clothing" data-bs-toggle="dropdown" aria-expanded="false">
            Clothing
            </button>
            <ul class="dropdown-menu" aria-labelledby="clothing">
                <li><a class="dropdown-item " href="{% url 'products' %}?category=jackets">Jackets</a></li>
                <li><a class="dropdown-item " href="{% url 'products' %}?category=trousers">Trousers</a></li>
                <li><a class="dropdown-item " href="{% url 'products' %}?category=suits">Suits</a></li>
                <li><a class="dropdown-item " href="{% url 'products' %}?category=armour">Armour</a></li>
                <li><a class="dropdown-item " href="{% url 'products' %}?category=jackets,trousers,suits,armour">All Clothing</a></li>
            </ul>
        </li>

        <li class="dropdown">
            <button class="btn btn-light dropdown-toggle w-100" type="button" id="boots" data-bs-toggle="dropdown" aria-expanded="false">
            Boots
            </button>
            <ul class="dropdown-menu" aria-labelledby="boots">
                <li><a class="dropdown-item " href="{% url 'products' %}?category=urban">Urban</a></li>
                <li><a class="dropdown-item " href="{% url 'products' %}?category=touring">Touring</a></li>
                <li><a class="dropdown-item " href="{% url 'products' %}?category=motocross_boots">Motocross</a></li>
                <li><a class="dropdown-item " href="{% url 'products' %}?category=urban,touring,motocross_boots">All Boots</a></li>
            </ul>
        </li>

        <li class="dropdown">
            <button class="btn btn-light dropdown-toggle w-100" type="button" id="gloves" data-bs-toggle="dropdown" aria-expanded="false">
            Gloves
            </button>
            <ul class="dropdown-menu" aria-labelledby="gloves">
                <li><a class="dropdown-item " href="{% url 'products' %}?category=summer">Summer</a></li>
                <li><a class="dropdown-item " href="{% url 'products' %}?category=winter">Winter</a></li>
                <li><a class="dropdown-item " href="{% url 'products' %}?category=motocross_gloves">Motocross</a></li>
                <li><a class="dropdown-item " href="{% url 'products' %}?category=summer,winter,motocross_gloves">All Gloves</a></li>
            </ul>
        </li>

        <li class="dropdown">
            <button class="btn btn-light dropdown-toggle w-100" type="button" id="accessories" data-bs-toggle="dropdown" aria-expanded="false">
            Accessories
            </button>
            <ul class="dropdown-menu" aria-labelledby="Accessories">
                <li><a class="dropdown-item " href="{% url 'products' %}?category=luggage">Luggage</a></li>
                <li><a class="dropdown-item " href="{% url 'products' %}?category=tools">Tools</a></li>
                <li><a class="dropdown-item " href="{% url 'products' %}?category=luggage,tools">All Accessories</a></li>
            </ul>
        </li>
        <li>
            <a class="btn btn-light w-100" type="button" id="sale" href="{% url 'products' %}?category=sale" >
                Sale
            </a>
        </li>

        <li class="dropdown">
            <button class="btn btn-light dropdown-toggle w-100" type="button" id="all-products" data-bs-toggle="dropdown" aria-expanded="false">
            All Products
            </button>
            <ul class="dropdown-menu" aria-labelledby="all-">
                <li><a class="dropdown-item " href="{% url 'products' %}?sort=price&direction=asc">By Price</a></li>
                <li><a class="dropdown-item " href="{% url 'products' %}?sort=rating&direction=desc">By Rating</a></li>
                <li><a class="dropdown-item " href="{% url 'products' %}?sort=category&direction=asc">By Category</a></li>
                <li><a class="dropdown-item " href="{% url 'products' %}">All Products</a></li>
            </ul>
        </li>
    </ul>
</div>