<div class="collapse navbar-collapse" id="main-nav">
    <div class="dropdown mx-auto">
        <button class="btn btn-light dropdown-toggle" type="button" id="helmets" data-bs-toggle="dropdown" aria-expanded="false">
          Helmets
        </button>
        <ul class="dropdown-menu" aria-labelledby="helmets">
            <li><a class="dropdown-item" href="#">Full Face</a></li>
            <li><a class="dropdown-item" href="#">Flip Front</a></li>
            <li><a class="dropdown-item" href="#">Motocross</a></li>
            <li><a class="dropdown-item" href="#">All Helmets</a></li>
        </ul>
    </div>

    <div class="dropdown mx-auto">
        <button class="btn btn-light dropdown-toggle" type="button" id="clothing" data-bs-toggle="dropdown" aria-expanded="false">
          Clothing
        </button>
        <ul class="dropdown-menu" aria-labelledby="clothing">
            <li><a class="dropdown-item" href="#">Jackets</a></li>
            <li><a class="dropdown-item" href="#">Trousers</a></li>
            <li><a class="dropdown-item" href="#">Suits</a></li>
            <li><a class="dropdown-item" href="#">Armour</a></li>
            <li><a class="dropdown-item" href="#">All Clothing</a></li>
        </ul>
    </div>

    <div class="dropdown mx-auto">
        <button class="btn btn-light dropdown-toggle" type="button" id="boots" data-bs-toggle="dropdown" aria-expanded="false">
          Boots
        </button>
        <ul class="dropdown-menu" aria-labelledby="boots">
            <li><a class="dropdown-item" href="#">Urban</a></li>
            <li><a class="dropdown-item" href="#">Touring</a></li>
            <li><a class="dropdown-item" href="#">Motocross</a></li>
            <li><a class="dropdown-item" href="#">All Boots</a></li>
        </ul>
    </div>

    <div class="dropdown mx-auto">
        <button class="btn btn-light dropdown-toggle" type="button" id="gloves" data-bs-toggle="dropdown" aria-expanded="false">
          Gloves
        </button>
        <ul class="dropdown-menu" aria-labelledby="gloves">
            <li><a class="dropdown-item" href="#">Summer</a></li>
            <li><a class="dropdown-item" href="#">Winter</a></li>
            <li><a class="dropdown-item" href="#">Motocross</a></li>
            <li><a class="dropdown-item" href="#">All Gloves</a></li>
        </ul>
    </div>

    <div class="dropdown mx-auto">
        <button class="btn btn-light dropdown-toggle" type="button" id="accessories" data-bs-toggle="dropdown" aria-expanded="false">
          Accessories
        </button>
        <ul class="dropdown-menu" aria-labelledby="Accessories">
            <li><a class="dropdown-item" href="#">Luggage</a></li>
            <li><a class="dropdown-item" href="#">Tools</a></li>
            <li><a class="dropdown-item" href="#">All Accessories</a></li>
        </ul>
    </div>

    <button class="btn btn-light" type="button" id="sale">
        Sale
    </button>


    <div class="dropdown mx-auto">
        <button class="btn btn-light dropdown-toggle" type="button" id="all-products" data-bs-toggle="dropdown" aria-expanded="false">
          All Products
        </button>
        <ul class="dropdown-menu" aria-labelledby="all-">
            <li><a class="dropdown-item" href="#">By Price</a></li>
            <li><a class="dropdown-item" href="#">By Rating</a></li>
            <li><a class="dropdown-item" href="#">By Category</a></li>
            <li><a class="dropdown-item" href="#">All Products</a></li>
        </ul>
    </div>
</div>