{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row pt-lg-5">
            <div class="col-12 text-center">
                <h1>{% trans "Password Reset" %}</h1>
            </div>
            <div class="col-12 col-lg-6 mx-auto card">
                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
            
                <p class="py-4">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
            
                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <input class="btn btn-dark my-3 w-100" type="submit" value="{% trans 'Reset My Password' %}" />
                </form>
            
                <p class="py-3">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
            </div>
        </div>
    </div>

{% endblock %}
