{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row pt-lg-5">
            <div class="col-12 text-center">
                <h1>{% trans "Sign Up" %}</h1>
            </div>
            <div class="col-12 col-lg-6 pt-5 mx-auto">
                <form class="signup card p-3 px-lg-5" id="signup_form" method="post" action="{% url 'account_signup' %}">
                    {% csrf_token %}
                    {{ form | crispy }}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <button class="btn btn-dark w-100 my-3" type="submit">{% trans "Sign Up" %} &raquo;</button>
                </form>
                <p class="my-3">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
            </div>
        </div>
    </div>
{% endblock %}