{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Search engine meta data -->
        <meta name="description" content="Retailer of motorcycle helmets, clothing & accessories. Top brands, incredible prices.">
        <meta name="keywords" content="motorcycle, clothing, motorcycle helmets, accessories, jackets, motorcycle boots">
        <meta name="author" content="MotoStyle">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}
<!-- Favicon dependencies -->

<!-- Stylesheet dependencies -->
    {% block corecss %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

<!-- JavasScript dependencies to be loaded as soon as possible-->
    {% block corejs %}
        <script src="https://kit.fontawesome.com/ca727e1099.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<!-- Bootstrap 5.1 -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
<!-- Stripe -->
        <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>MotoStyle {% block extra_title %}{% endblock %}</title>
</head>

<body>
    <header class="container-fluid fixed-top">
<!-- Navbar on large screens and up -->
        <div id="top-nav" class="row d-none d-lg-flex bgclr-neutral">
<!-- Logo -->
            <div class="col-12 col-lg-3">
                <div class="text-center ms-5 py-2">
                    <a href="{% url 'home' %}">
                        <img src="{{ MEDIA_URL }}/img/logo_black.png" alt="Nav-Logo" class="img-fluid logo">
                    </a>
                </div>
            </div>
<!-- Search form -->
            <div class="col pt-3">
                <form action="{% url 'products' %}" method="GET">
                    <div class="input-group w-100">
                        <label for="search" hidden>Search</label>
                        <input type="text" class="form-control" name="q" id="search" placeholder="Search products">
                        <div class="input-group-append">
                            <button class="form-control btn btn-dark" type="submit"><i class="fa-solid fa-magnifying-glass"></i> Search</button>
                        </div>
                    </div>
                </form>
            </div>
<!-- Account and shopping cart -->
            <div class="col-12 col-lg-3 text-center">
                <ul class="list-inline list-unstyled my-0">
                    <li class="list-inline-item text-center dropdown">
                        <a class="nav-link fs-5" href="#" id="account-options" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <div class="custom-user mx-auto"></div>
                            <p class="m-0">Account</p>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="account-options">
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                    <a href="{% url 'add_product' %}" class="dropdown-item">Add Product</a>
                                {% endif %}
                                <a href="{% url 'view_wishlist' %}" class="dropdown-item">Wishlist</a>
                                <a href="{% url 'profile' %}" class="dropdown-item">Profile</a>
                                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <a href="{% url 'view_cart' %}" class="nav-link fs-5">
                            <div class="text-center">
                                <div class="custom-cart mx-auto"></div>
                                <p>
                                    {% if grand_total %}
                                        £{{ grand_total | floatformat:2 }}
                                    {% else %}
                                        £ 0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

<!-- Main Navigation with Bootstrap collapsible navbar -->
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-light w-100 p-0">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% include 'includes/mobile_top_header.html' %}
                {% include 'includes/main_nav.html' %}
            </nav>
        </div>

<!-- Message banner -->
        <!-- <div id="msg-banner" class="row text-center bg-info">
            <div>
                <h4>Free delivery on orders over £{{ free_delivery_threshold }}</h4>
            </div>
        </div> -->
    </header>
    <div class="container top-spacer">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>

<!-- Toast Messages Logic and Display-->
    {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                {% with message.level as level %}
                    {% if level == 40 %}
                        {% include 'includes/toasts/toast_error.html' %}
                    {% elif level == 30 %}
                        {% include 'includes/toasts/toast_warning.html' %}
                    {% elif level == 25 %}
                        {% include 'includes/toasts/toast_success.html' %}
                    {% else %}
                        {% include 'includes/toasts/toast_info.html' %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
    {% endif %}
<!-- Toast Messages End -->


    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    <footer>
        <div class="container-fluid m-0">
            <div class="row bgclr-dark pt-3">
                <div class="col-12 col-md-6 col-lg-4 order-2 order-lg-1">
                    <p>
                        <i class="fa-solid fa-copyright"></i>
                        Copyright MotoStyle
                    </p>
                    <p>
                        <small>Developed for educational purposes only</small>
                    </p>
                </div>
                <div class="col-12 col-lg-4 order-1 order-lg-2 text-center fs-1">
                    <a href="https://www.youtube.com" target="_blank" rel="noopener" aria-label="Find us on Youtube (link opens in a new tab)"><i class="fa-brands fa-youtube-square"></i></a>
                    <a href="https://www.instagram.com" target="_blank" rel="noopener" aria-label="Follow us on Instagram(link opens in a new tab)"><i class="fa-brands fa-instagram-square"></i></i></a>
                    <a href="https://www.facebook.com" target="_blank" rel="noopener" aria-label="Find us in Facebook (link opens in a new tab"><i class="fa-brands fa-facebook-square"></i></a>
                    <a href="https://www.twitter.com" target="_blank" rel="noopener" aria-label="Follow us on Twitter (link opens in a new tab"><i class="fa-brands fa-twitter-square"></i></a>
                </div>
                <div class="col-12 col-md-6 col-lg-4 order-3 order-lg-3 text-end">
                    <p class="m-0">
                        Powered by 
                        <i class="fa-brands fa-cc-stripe fs-3"></i>
                    </p>
                    <p>
                        Accepting:
                        <img src="{{ MEDIA_URL }}cards/visa.svg" alt="visa card" width="40px" height="40px">
                        <img src="{{ MEDIA_URL }}cards/amex.svg" alt="amex card" width="40px" height="40px">
                        <img src="{{ MEDIA_URL }}cards/mastercard.svg" alt="mastercard card" width="40px" height="40px">
                        <img src="{{ MEDIA_URL }}cards/maestro.svg" alt="maestro card" width="40px" height="40px">
                    </p>
                </div>
            </div>
        </div>
    </footer>

<!-- Javascript to be loaded after the DOM -->
    {% block postloadjs %}
        <script type="text/javascript">
            var toastElList = [].slice.call(document.querySelectorAll('.toast'))
            var toastList = toastElList.map(function (toastEl) {
                new bootstrap.Toast(toastEl).show()
            })
        </script>
    {% endblock %}
    
</body>
</html>