{% extends 'base.html' %}
{% load static %}

{% block content%}
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Product Management</h2>
                <h5>Edit Product Details</h5>
            </div>
        </div>

<!-- Product Form -->
        <div class="row">
            <div class="col">
                <form action="{% url 'edit_product' product.id %}" method="POST" class="form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <a href="{% url 'products' %}" class="btn btn-dark">Cancel</a>
                    <button class="btn btn-dark" type="submit">Update Product</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
