{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container-fluid mt-5">
        {% if selected_categories|length == 1 %}
            {{ selected_categories.0.friendly_name }}
            <img src="{{ selected_categories.0.image.url }}" alt="">
        {% else %}
            <div class="row pt-5 justify-content-center">
            {% for cat in selected_categories %}
                {% if cat.image %}
                <div class="col-4 col-md-3 col-lg-2 text-center">
                    <div class="cat-image d-block mx-auto">
                        <a href="{% url 'products' %}?category={{ cat.name }}">
                            <img src="{{ cat.image.url }}" alt="{{ cat.name }}" >
                        </a>
                    </div>  
                    <p>{{ cat.friendly_name }} Gloves</p>
                </div>
                {% else %}
                <a href="{% url 'products' %}?category={{ cat.name }}">
                    <img src="{{ MEDIA_URL }}noimage.png" alt="Image missing">
                </a>
                {% endif %}
            {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    <section class="container sorting-util">
        <div class="row">
            <div class="col-4">
                <p class="text-muted mt-3 text-center text-md-left">
                    {% if search_term or selected_categories or current_sorting != 'None_None' %}
                        <span class="small"><a href="{% url 'products' %}">Products Home</a> | </span>
                    {% endif %}
                    {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                </p>
            </div>
            <div class="col-4">
                <p>Viewing Categories</p>
                {% for cat in selected_categories %}
                    <a href="{% url 'products' %}?category={{ cat.name }}">{{ cat.friendly_name }}</a>
                {% endfor %}
            </div>
            <div class="col-4">
                <div class="sort-select-wrapper">
                    <select id="sort-selector">
                        <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                        <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                        <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                        <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                        <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                        <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                        <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                        <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                        <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                    </select>
                </div>
            </div>
        </div>
        <div>
            <hr>
        </div>
    </section>
    <section class="container products-container">
        <div class="row">
            {% for product in products %}
<!-- Bootstrap Card for each product -->
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="card h-100 text-center">
                        <p class="card-title fs-5 mt-3">{{ product.name }}</p>
                        <div class="image-container">
                            {% if product.image %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img-top">
                                </a>
                            {% else %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top" src="{{ MEDIA_URL }}noimage.png" alt="Image missing">
                                </a>
                            {% endif %}
                            <hr>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Price £{{ product.price }}</p>
                            {% if product.new_rating > 0 %}
                                <p><i class="fa-solid fa-star"></i> {{ product.new_rating }}</p>
                            {% else %}
                                <p><i class="fa-solid fa-star"></i> {{ product.rating }}</p>
                            {% endif %}
                            <a href="{% url 'products' %}?category={{ product.category.name }}">
                                <p>{{ product.category.friendly_name }}</p>
                            </a>
                            {% if request.user.is_superuser %}
                                <a href="{% url 'edit_product' product.id %}">Edit</a>
                                <a href="{% url 'delete_product' product.id %}">Delete</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
<!-- Card end -->
            {% endfor %}
        </div>
    </section>
{% endblock %}

{% block postloadjs %}
    {{block.super}}
    <script src="{% static 'products/js/products.js' %}" type="text/javascript"></script>
{% endblock %}
    