<div role="alert" aria-live="assertive" aria-atomic="true" class="toast custom-toast" data-bs-autohide="false">
    <div class="arrow-up arrow-success"></div>
    <div class="w-100 toast-capper bg-success"></div>
    <div class="toast-header">
        <strong class="me-auto">Success!</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="w-100 toast-capper bg-success"></div>
    <div class="toast-body">
        <div class="row">
            <div class="col">
                {{ message }}
                <div class="w-100 toast-capper bg-success"></div>
            </div>
        </div>
        {% if grand_total and not on_profile_page %}
            <p>Cart Overview: {{ product_count }} item(s)</p>
            <div class="cart-toast-overview">
                {% for item in cart_items %}
                    <div class="row">
                        <div class="col-3 my-1">
                            <img class="w-100" src="{{ item.product.image.url }}">
                        </div>
                        <div class="col-9">
                            <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                            <p class="my-0 small">Size: {% if item.product.has_sizes %}{{ item.size|upper }}{% else %}N/A{% endif %}</p>
                            <p class="my-0 small text-muted">Qty: {{ item.quantity }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
                <div class="row">
                    <div class="col">
                        <strong><p class="">
                            Total{% if free_delivery_delta > 0 %} (Exc. delivery){% endif %}: 
                            <span class="">${{ total|floatformat:2 }}</span>
                        </p></strong>
                        {% if free_delivery_delta > 0 %}
                            <p class="text-center">
                                Spend <strong>${{ free_delivery_delta }}</strong> more to get free next day delivery!
                            </p>
                        {% endif %}
                    </div>
                </div>
            <div>
                <a href="{% url 'checkout' %}">
                    <button class="btn btn-dark btn-lg">
                        <small>Secure Checkout with</small><img src="https://cdn.brandfolder.io/KGT2DTA4/at/8vbr8k4mr5xjwk4hxq4t9vs/Stripe_wordmark_-_blurple.svg" alt="" height="30px">
                    </button>
                </a>    
            </div>
        {% endif %}
    </div>
</div>